body {
  	font-family: Sans-serif;
	background-color: #301934;
  font-size: 18px;
	margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
	color: #fff;
}

p {
  text-indent: 25px;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
}

a {
	font-size: 22px;
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#400353; /*добавляем фон к пункту меню*/
  color:#fff; /*меняем цвет ссылок*/
  padding:10px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  border-radius:4px; /*добавляем скругление*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
  background:#1E1E18;/*добавляем эффект при наведении*/
}
li {
  float:right; /*Размещаем список горизонтально для реализации меню*/
  margin-right:5px; /*Добавляем отступ у пунктов меню*/
	position:relative; /*задаем позицию для позиционирования*/
  
}


header h1 {
  font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

header h2 {
  font-size: 20px;
}



.warm {  
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align:center;
	font-weight: bold;
    color: #fff;
}

.warm:hover {
  opacity: 0.8;
}

.warm:active {
  transform: scale(0.95);
}

.atomic {
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align:center;
	font-weight: bold;
    color: #fff;
}

.atomic:hover {
  opacity: 0.8;
}

.atomic:active {
  transform: scale(0.95);
}

.water {
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align:center;
	font-weight: bold;
    color: #fff;
}

.water:hover {
  opacity: 0.8;
}

.water:active {
  transform: scale(0.95);
}

.sun {
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align:center;
	font-weight: bold;
    color: #fff;
}

.sun:hover {
  opacity: 0.8;
}

.sun:active {
  transform: scale(0.95);
}

.inflow {
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align:center;
	font-weight: bold;
    color: #fff;
}

.inflow:hover {
  opacity: 0.8;
}

.inflow:active {
  transform: scale(0.95);
}

.wind {
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align:center;
	font-weight: bold;
    color: #fff;
}

.wind:hover {
  opacity: 0.8;
}

.wind:active {
  transform: scale(0.95);
}