 * {
	margin:0;
	padding:0;
	box-sizing: border-box;
} 

body {
  	font-family: Sans-serif;
	background: #301934;   /*#001e4d - #301934*/
  	font-size: 18px;
	margin: 50px;
	color: #fff;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
  font-size: 55px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
	text-align: center
}

.app{
	color: black;
	background: #fff;   /*цвет фона белый*/
	width: 90%;
	max-width: 600px;
	margin: 100px auto 0;
	border-radius: 10px;
	padding: 20px;
}

.quiz{
	padding: 20px 0;
}

.quiz h2 {
	font-size: 18px;
	color: black;
	font-weight: 600;
}


.bttn {
	background: #fff;
	color: black;
	font-weight: 500;
	width: 100%;
	border: 1px solid black;   /*#222 - black*/
	padding: 10px;
	margin: 10px 0;
	text-align: left;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
}

.bttn:hover:not([disabled]) {
	background: #222;
	color: #fff;
}

.bttn:disabled{
	cursor: no-drop;
}

#next-bttn{
	background: #301934;
	color: #fff;
	font-weight: 500;
	width: 150px;
	border: 0;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor:pointer;
	display:none; 
}

.correct{
	background: #9aeabc;
}

.incorrect{
	background: #ff9393;
}

.container {
	padding: 70px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 60px;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}


